div{
    background-color:antiquewhite;
    height: 70rem;
    width: 100%;
}



/* -------------------------------------------------small-------------------------------------------- */
@media(max-width: 430px){
    div{
        background-color:antiquewhite;
        height: 90rem;
        width: 100%;
    }
}
/* -------------------------------------------------medium------------------------------------------- */
@media(max-width: 1200px){
    
}
/* -------------------------------------------------large-------------------------------------------- */
@media(min-width: 1200px){
}