<nav class="navbar navbar-dark bg-dark navbar-expand-md p-0">
    <a href="#" class="navbar-brand">
        <img src="assets/images/logo2.jpg" alt="" width="90" height="70" class="logo">
       </a>
       <h3 class="logo-name">Tech Box</h3>
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="sign-up-container">
        <div class="navbar-collapse collapse justify-content-end div1" id="navbar">
            <ul class="navbar-nav signup-ul">
                <li class="nav-item"><a routerLink="signup" class="nav-link">SignUp</a></li>
            </ul>
        </div>
    </div>
    
</nav>

