.logo{
    margin-left: 20px;
}

.logo-name{
    color:burlywood;
    letter-spacing: 3px;
    margin-left: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sign-up-container{
    display: flex;
    width: 65%;
}

.signup-ul{
   font-size: large;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}
.navbar{
    margin-bottom: 100px;
}








/* -------------------------------------------------medium------------------------------------------- */
@media(max-width: 1200px){
    
    .navbar{
        margin-bottom: 100px;
    }
    .sign-up-container{
        display: flex;
        width: 40%;
        margin-left: 10%;
        /* border: 1px solid red; */
    }

}

/* -------------------------------------------------small-------------------------------------------- */
@media(max-width: 430px){

    
    .sign-up-container{
        display: flex;
        width: 100%;
    }
    .signup-ul{
        margin-left: 80%;
    
    }
    .navbar{
        margin-bottom: 50px;
    }
  
}

/* -------------------------------------------------large-------------------------------------------- */
@media(min-width: 1200px){

}